{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	<div class="success-activation-div">
		<div class="alert alert-success alert-dismissible">

			<h3><i class="icon fa fa-check"></i> Success!</h3>

			<h4>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h4>
			{% if targetUrl %}
				<h5><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></h5>
			{% endif %}
		</div>
	</div>

{% endblock fos_user_content %}
