<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
		<a href="mailto:reiosantos@yahoo.com">reiosantos@yahoo.com</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 - {{ ''|date('Y') }} <a href="#">{{ school_name }}</a>.</strong> All rights reserved.
</footer>
