<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
	    <a href="mailto:ronireiosantos@gmail.com">ronireiosantos@gmail.com</a>
    </div>
    <!-- Default to the left -->
	<strong>Copyright &copy; 2018 - {{ ''|date('Y') }}
		<a href="#">{{ settings.school_name }}</a>.
	</strong> All rights reserved.
</footer>
